<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/create-point.css">
        <link rel="stylesheet" href="styles/modal.css">
        <title>Ecoleta | Criar Ponto de Coleta</title>
    </head>

    <body>
        <header>
            <img src="/assets/logo.svg" alt="Logo Ecoleta">
            <a href="/"><img src="/assets/arrow-left.svg" alt="Voltar para Home">Home</a>
        </header>
        <div class="create-form">
            <form action="/savepoint" method="POST">
                <h1>Cadastro do Ponto de Coleta</h1>
                <h2>Dados da entidade</h2>
                <div class="field">
                    <label for="name">Nome da entidade:</label>
                    <input type="text" name="name" required="required">
                </div>

                <div class="field">
                    <label for="Image-URL">Imagem URL:</label>
                    <input type="url" name="image" placeholder="https://" required="required">
                </div>

                <div class="field-group">
                    <div class="field">
                        <label for="address">Endereço:</label>
                        <input type="text" name="address" required="required">
                    </div>
                    <div class="field">
                        <label for="address2">Número:</label>
                        <input type="text" name="address2" required="required">
                    </div>
                </div>

                <div class="field-group">
                    <div class="field-state">
                        <label for="state">Estado</label>
                        <select name="state" id="state" required="required">
                            <option value="">Selecione o Estado</option>
                        </select>
                        <input type="hidden" name="uf">
                    </div>
                    <div class="field-city">
                        <label for="city">Cidade</label>
                        <select name="city" id="city" disabled="disabled" required="required">
                            <option value="">Selecione a Cidade</option>
                        </select>
                    </div>
                </div>

                <div class="items">
                    <div class="items2">
                        <h2>Itens de coleta</h2>
                        <p>Selecione um ou mais itens.</p>
                    </div>
                    <div class="cards">
                        <li data-id="Baterias" class="card">
                            <img src="/assets/baterias.svg" alt="Baterias">
                            <p>Baterias</p>
                        </li>
                        <li data-id="Eletrônicos" class="card">
                            <img src="/assets/eletronicos.svg" alt="Eletrônicos">
                            <p>Eletrônicos</p>
                        </li>
                        <li data-id="Lâmpadas" class="card">
                            <img src="/assets/lampadas.svg" alt="Lâmpadas">
                            <p>Lâmpadas</p>
                        </li>
                        <li data-id="Óleo" class="card">
                            <img src="/assets/oleo.svg" alt="Óleo">
                            <p>Óleo</p>
                        </li>
                        <li data-id="Orgânicos" class="card">
                            <img src="/assets/organicos.svg" alt="Orgânicos">
                            <p>Orgânicos</p>
                        </li>
                        <li data-id="Papéis e Papelão" class="card">
                            <img src="/assets/papeis-papelao.svg" alt="Papéis e Papelão">
                            <p>Papéis e Papelão</p>
                        </li>
                    </div>
                    <input type="hidden" name="items">
                </div>
                <button type="submit">Cadastrar ponto de coleta</button>
            </form>
        </div>

        {% block modal %}
            {% if saved %}
                {% include "Modal/point-created.html" %}
            {% endif %}
        {% endblock modal %}

        <script src="/scripts/create-point.js"></script>
    </body>

</html>