<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/all.css">
        <link rel="stylesheet" href="/styles/index.css">
        <link rel="stylesheet" href="/styles/modal.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
        <title>Ecoleta | Página Inicial</title>
    </head>

    <body>
        {% block header %}
            {% include "Header/header.html" %}
        {% endblock header %}

        <div class="container">
            <div class="page-main">
                <h1>Seu marketplace de coleta de resíduos.</h1>
                <p>Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente.</p>
                <a href="#">
                    <i class="fas fa-search"></i>Pesquisar ponto de coleta</a>
            </div>
        </div>

        {% block modal %}
            {% include "Modal/modal.html" %}
        {% endblock modal %}

        <script src="/scripts/index.js"></script>
    </body>

</html>