@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 85%;
    max-width: 1300px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

header a {
    color: #322153;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
}

header a i {
    margin-left: 10px;
    font-size: 22px;
}

header a#back-home {
    width: 100px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
}

header a#back-home img {
    margin-right: 10px;
}