.create-form {
    width: 90%;
    min-width: 360px;
    height: auto;
    margin: 50px auto 0;
    display: flex;
    justify-content: center;
}

.create-form form {
    background-color: rgb(238, 235, 235);
    width: 55%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
}

.create-form form h1 {
    text-align: center;
}

.create-form form h1,
.create-form form h2 {
    margin: 20px 0;
}

.create-form form .field {
    width: 100%;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
}

.create-form form .field label {
    font-size: 18px;
    margin: 5px 0;
}

.create-form form .field input {
    background-color: white;
    width: 100%;
    height: 40px;
    border: 0;
    outline: none;
    border-radius: 5px;
    padding: 0 10px;
}

.create-form form .field input[name="address"] {
    width: 95%;
}

.create-form form .field-group {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.create-form form .field-group .field-state,
.create-form form .field-group .field-city {
    width: 50%;
}

.create-form form .field-group .field-state select,
.create-form form .field-group .field-city select {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
}

.create-form form .field-group .field-state select[name="state"] {
    width: 95%;
}

.items {
    width: 100%;
    height: auto;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
}

.items2 {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.items2 p {
    font-size: 13px;
}

.items .cards {
    width: 100%;
    max-width: 500px;
    min-width: 360px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-items: center;
    margin: 40px auto;
}

.items .cards li {
    list-style: none;
    width: 90%;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    border-radius: 8px;
    border: 2px solid gray;
    cursor: pointer;
    padding: 10px 0;
}

.items .cards .li img {
    margin-bottom: 20px;
}

.items .cards .li p {
    text-align: center;
}

.items .cards li.selected {
    background: #e1faec;
    border: 2px solid #34cb79;
}

.items .cards li img,
.items .cards li span {
    pointer-events: none;
}

button {
    background-color: #34CB79;
    width: 100%;
    max-width: 350px;
    height: 60px;
    border: 0;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 12px;
    transition: 400ms;
    cursor: pointer;
    margin: 20px auto;
}

button:hover {
    background-color: #09a851;
}